body {
    font-family: Georgia, "Times New Roman", Times, serif;
    max-width: 750px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.5;
    font-size: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 8px;
}

h3 {
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
}

a {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

nav {
    margin: 8px 0;
    font-size: 15px;
}

nav a {
    margin: 0 3px;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    margin: 15px 0;
}

ul {
    margin: 5px 0;
    padding-left: 25px;
}

li {
    margin-bottom: 4px;
}

img {
    border: 1px solid #cccccc;
}

table {
    border-collapse: collapse;
}

p {
    margin: 8px 0;
}

small {
    color: #666666;
}

.blog-date {
    color: #666666;
    font-size: 13px;
}

.blog-post {
    margin-bottom: 30px;
}
